body {
    margin: 0;
    font-family: Arial;
}

header {
    background: #ffcadf;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
}

footer {
    background: #ddd;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    width: 200px;
    height: 100%;
    background: #f2f2f2;
    padding: 15px;
}

.sidebar a, .sidebar button {
    display: block;
    margin-bottom: 15px;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}